<div class="row">
  <div class="col-12 col-xl-6">
    <card>
      <card-header>
        <card-header-oval>
          <card-title>
            <i class="fas fa-sitemap"></i>
            <h4>{{'organizationUnit.title' | translateAsync}}</h4>
          </card-title>
        </card-header-oval>
        <card-header-subtitle *ngIf="'Page.Administration.OrganizationUnit.Create' | isGranted">
          <button color="accent" mat-raised-button (click)="createOrganizationUnit()">
            <mat-icon suffix>add</mat-icon>
            {{'organizationUnit.create' | translateAsync}}
          </button>
        </card-header-subtitle>
      </card-header>
      <card-body>
          <app-organization-unit-tree (selectOrganizationId)="organizationUnitId = $event"></app-organization-unit-tree>
      </card-body>
    </card>
  </div>
  <div class="col-12 col-xl-6">
    <app-organization-unit-association-layout [organizationUnitId]="organizationUnitId"></app-organization-unit-association-layout>
  </div>
</div>
