<craftsjs-modal>
  <modal-header>
    <h3 class="text-accent">{{'organizationUnit.associateRole' | translate}}</h3>
    <button mat-icon-button (click)="close()">
      <mat-icon suffix>close</mat-icon>
    </button>
  </modal-header>
  <modal-body>
    <app-role-organization-unit-form #organizationUnitForm [organizationUnitId]="organizationUnitId" (save)="save()"></app-role-organization-unit-form>
  </modal-body>
  <modal-footer>
    <button type="submit" form="associate-role-organizationUnit-form" mat-raised-button color="accent"
    [disabled]="(organizationUnitForm.loading$ | async) || organizationUnitForm.rolesSelected.length === 0">
      {{'general.save' | translate}}
    </button>
    <button type="button" mat-raised-button (click)="close()">{{'general.close' | translate}}</button>
  </modal-footer>
</craftsjs-modal>