<craftsjs-card>
  <card-header>
    <card-header-oval>
      <card-title>
        <mat-icon suffix>library_books</mat-icon>
        <h4>{{'edition.title' | translate}}</h4>
      </card-title>
    </card-header-oval>
    <card-header-subtitle *ngIf="'Page.Edition.Create' | isGranted">
      <button type="button" color="accent" mat-raised-button (click)="createEdition()">
        <mat-icon suffix>add</mat-icon>
        {{'edition.create' | translate}}
      </button>
    </card-header-subtitle>
  </card-header>
  <card-body>
    <app-edition-list></app-edition-list>
  </card-body>
</craftsjs-card>