<craftsjs-modal>
  <modal-header>
    <h3 class="text-accent">{{'user.create' | translateAsync}}</h3>
    <button mat-icon-button (click)="close()">
      <mat-icon suffix>close</mat-icon>
    </button>
  </modal-header>
  <modal-body>
    <app-user-form #userForm [userDto]="userDto" (save)="close()"></app-user-form>
  </modal-body>
  <modal-footer>
    <button type="submit" form="user-form" mat-raised-button color="accent" [disabled]="userForm.loadingAction$ | async">
      {{'general.save' | translateAsync}}
    </button>
    <button type="button" mat-raised-button (click)="close()">{{'general.close' | translateAsync}}</button>
  </modal-footer>
</craftsjs-modal>